@font-face {
  font-family: "ElegantIcons";
  src: url(../fonts/et-line.woff) format("woff"),
       url(../fonts/et-line.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome.woff) format("woff"),
       url(../fonts/fontawesome.ttf) format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  font: 14px "Raleway", sans-serif;
  color: #6c7279;
}

a {
  color: #2d3033;
  text-decoration: none;
  outline: none;
}

p {
  line-height: 21px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.btn {
  display: inline-block;
  padding: 15px 49px;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
  background-color: #e84545;
  transition: background-color .5s ease-in-out;
}

.btn:hover {
  background-color: #e63131;
}

.btn-download {
  padding: 15px 83px;
}

.icon-features {
  font: 60px "ElegantIcons";
  color: #e84545;
}

.icon-features.icon-tools::before {
  display: block;
  content: "\e033";
}

.icon-features.icon-desktop::before {
  display: block;
  content: "\e002";
}

.icon-features.icon-lightbulb::before {
  display: block;
  content: "\e030";
}

.icon-features.icon-genius::before {
  display: block;
  content: "\e046";
}

.icon-features.icon-briefcase::before {
  display: block;
  content: "\e015";
}

.icon-features.icon-download::before {
  display: block;
  content: "\e04d";
}

.icon-social {
  display: inline-block;
  font: 18px "FontAwesome";
}

.icon-social.icon-facebook::before {
  content: "\f09a";
}

.icon-social.icon-twitter::before {
  content: "\f099";
}

.icon-social.icon-linkedin::before {
  content: "\f0e1";
}

.social-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-links li {
  display: inline-block;
}

.social-links a {
  display: block;
  line-height: 40px;
  text-align: center;
  transition: all .5s ease-in-out;
}

.header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-logo {
  display: block;
  float: left;
  width: 200px;
  height: 100px;
  background: url(../img/header-logo.png) center left no-repeat;
}

.nav-main {
  float: right;
  width: 75%;
  padding: 40px 0;
  text-align: right;
}

.top-menu {
  margin: 0;
  list-style-type: none;
}

.top-menu li {
  display: inline-block;
  padding: 2px 0 2px 56px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.top-menu li:last-child {
  margin-left: 0;
}

.top-menu a {
  color: #ffffff;
  color: rgba(255, 255, 255, .75);
  transition: color .5s ease-in-out;
}

.top-menu a:hover {
  color: #ffffff;
}

.banner {
  min-width: 1170px;
  min-height: 750px;
  background: #313454 url(../img/header-bg.jpg) top center no-repeat;
  background-size: cover;
}

.banner-content {
  margin: 0 10%;
  padding-top: 189px;
  text-align: center;
  color: #ffffff;
}

.banner-title {
  margin-bottom: 23px;
  font: 700 65px "Open Sans";
  line-height: 71px;
  text-transform: uppercase;
}

.banner p {
  margin-bottom: 75px;
  font-size: 22px;
  line-height: 1.5;
}

.features {
  min-width: 1170px;
  padding: 120px 0 50px 0;
}

.features-columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.features-columns li {
  float: left;
  width: 33.3333%;
  margin-bottom: 37px;
  padding: 0 31px;
  box-sizing: border-box;
  text-align: center;
}

.feature-title {
  margin: 28px 0 17px 0;
  font-size: 14px;
  font-weight: bold;
  color: #2d3033;
  text-transform: uppercase;
}

.works {
  min-width: 1170px;
  max-width: 1900px;
  margin: 0 auto;
}

.works-columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.works-columns li {
  float: left;
  width: 25%;
  height: 350px;
  box-sizing: border-box;
  text-align: center;
}

.work-link {
  display: block;
  position: relative;
  height: 100%;
  color: #ffffff;
  background: #e84545 no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 1px #ffffff;
}

.work-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(232, 69, 69, .9);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.work-overlay:hover {
  opacity: 1;
}

.work-content {
  position: absolute;
  top: 44.5%;
  width: 100%;
}

.work-title {
  margin: 0 0 3px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.work-content p {
  margin: 0;
}

.work-link.work-1 {
  background-image: url(../img/work-1.jpg);
}

.work-link.work-2 {
  background-image: url(../img/work-2.jpg);
}

.work-link.work-3 {
  background-image: url(../img/work-3.jpg);
}

.work-link.work-4 {
  background-image: url(../img/work-4.jpg);
}

.work-link.work-5 {
  background-image: url(../img/work-5.jpg);
}

.work-link.work-6 {
  background-image: url(../img/work-6.jpg);
}

.work-link.work-7 {
  background-image: url(../img/work-7.jpg);
}

.work-link.work-8 {
  background-image: url(../img/work-8.jpg);
}

.team {
  min-width: 1170px;
  padding: 102px 0 99px 0;
}

.team-member {
  margin: 0;
}

.team-columns {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.team-columns > li {
  float: left;
  max-width: 270px;
  margin-right: 30px;
  box-sizing: border-box;
}

.team-columns > li:last-child {
  margin-right: 0;
}

.team-columns img {
  display: block;
  margin-bottom: 26px;
  width: 270px;
  height: 270px;
}

.team-columns p {
  margin: 23px 0 23px 0;
}

.team-member-name {
  margin: 8px 0 8px 0;
  font-size: 22px;
  font-weight: 400;
  color: #2d3033;
}

.team-member-job {
  margin: 8px 0 8px 0;
  font-size: 13px;
  font-weight: 400;
  color: #e84545;
  text-transform: uppercase;
}

.social-links.social-team-member a {
  height: 38px;
  width: 38px;
  margin: 2px 1px 2px 0px;
  border: 1px solid #e8ecee;
  color: #c6cacc;
}

.social-links.social-team-member a:hover {
  color: #ffffff;
  border-color: #e84545;
  background-color: #e84545;
}

.testimonials {
  min-width: 1170px;
  max-width: 1900px;
  min-height: 500px;
  margin: 0 auto;
  background-color: #53354a;
}

.testimonial-slides {
  float: left;
  width: 50%;
  min-height: 500px;
  background: url(../img/testimonial-1.jpg) 50% 50%;
  background-size: cover;
}

.testimonial-text {
  float: left;
  width: 50%;
  height: 100%;
}

.testimonial-text blockquote {
  width: 75%;
  margin: 108px 0 0 84px;
  color: #ffffff;
}

.testimonial-text blockquote p {
  margin: 25px 0;
  font: italic 36px "Cardo", serif;
  line-height: 42px;
}

.testimonial-author {
  margin: 0 2px;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  line-height: 21px;
  text-transform: uppercase;
}

.testimonial-nav {
  margin: 58px 0 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.testimonial-nav li {
  display: inline-block;
  margin: 0 2px;
}

.testimonial-nav-btn {
  width: 12px;
  height: 12px;
  padding: 0;
  outline: 0;
  border: none;
  border-radius: 50%;
  background-color: #755d6e;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
}

.testimonial-nav-btn.active {
  background-color: #ffffff;
}

.download {
  min-width: 1170px;
  padding-top: 95px;
  padding-bottom: 100px;
  text-align: center;
}

.download-title {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 300;
  color: #2d3033;
}

.download p {
  margin: 0 0 35px 0;
  font-weight: 700;
  font-size: 13px;
  color: #2d3033;
  text-transform: uppercase;
}

.contacts {
  min-width: 1170px;
  padding: 60px 0 72px 0;
  color: #ffffff;
  background-color: #3a3e64;
}

.contacts-column {
  float: left;
  width: 33.3333%;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
}

.contacts-column-title {
  margin: 8px 0 17px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-column address {
  line-height: 22px;
  font-style: normal;
}

.contacts-column p,
.contacts-column address {
  color: #ffffff;
  color: rgba(255, 255, 255, .5);
}

.social-links.social-contacts a {
  height: 36px;
  width: 36px;
  margin: 2px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
}

.social-links.social-contacts a:hover {
  border-color: #e84545;
  background-color: #e84545;
}

.footer-bottom {
  min-width: 1170px;
  padding: 22px 0 24px 0;
  text-align: center;
  color: #808080;
  background-color: #313454;
}

.footer-bottom p {
  margin: 2px 0;
}

.footer-bottom a {
  color: #ffffff;
  transition: color .5s ease-in-out;
}

.footer-bottom a:hover {
  color: #e84545;
}

.footer-bottom a::before {
  font-family: "FontAwesome";
  font-size: 12px;
  content: "\f004\20";
  color: #e84545;
}
